<h2 class="text-primary">
    <i class="bi bi-person-gear text-secondary"></i>
    Experiencia Laboral
</h2>
<div *ngFor="let job of jobs" class="card shadow border-0 mt-3">
    <div class="card-header">
        {{ job.company }} | 
        <small>
            {{ job.startDate }} - {{ job.endDate }} |
            <i>{{ job.modality }}</i>
        </small>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{job.title}}</h5>
      <ul>
        <li *ngFor="let activity of job.activities">
            {{activity}}
        </li>
      </ul>
    </div>
</div>

