<main class="container mb-4" style="margin-top: 72px;">
    <h1 class="text-primary py-3">Proyectos <sup>*</sup></h1>
    <h2 class="text-secondary">Independientes</h2>
    <hr>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2 g-md-4">
        <div
          *ngFor="let project of webProjects"
          class="col">
            <div class="card shadow border-0">
                <img
                  src="assets/{{ project.img }}"
                  class="card-img-top"
                  alt="">
                <div class="card-body">
                    <h6 class="card-title">{{ project.title }}</h6>
                    <div class="d-grid">
                      <a href="{{ project.link }}" target="_blank" class="btn btn-link border">
                        Visitar 
                      </a>
                    </div>
                </div>
              </div>
        </div>
    </div>

    <h2 class="text-secondary mt-4">Prácticas</h2>
    <hr>
    <div
      *ngIf="isLoading; else elseBlock"
      class="text-center">
      <div
        class="spinner-border text-primary"
        role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <ng-template #elseBlock>
      <app-card-list [sites]="sitesList"></app-card-list>
    </ng-template>

    <div class="mt-4">
      <small>
        <sup>*</sup>
        Por temas de privacidad, en esta sección no se muestran los proyectos en los que participé en las empresas donde he laborado, ya que en su mayoría son aplicaciones internas. Con respecto a los sitios web, pueden consultarlos haciendo una búsqueda por su nombre, sin embargo, no es garantía que las versiones actuales sean las mismas en las que participé. Agradezco su comprensión.
      </small>
    </div>

</main>
