<div class="card text-white bg-dark mb-3">
    <div class="card-body">
        <h5 class="card-title">Certificaciones y diplomados</h5>
        <div *ngFor="let course of courses">
            <h6 class="text-white-50 mt-3">
                <i class="bi bi-patch-check"></i>
                {{ course.title }}
            </h6>
            <span>
                <small>
                    Año: {{ course.year }}
                </small>
                <br>
                <small>
                    Institución: {{ course.institution }}
                </small>
            </span>
        </div>
    </div>
</div>
