<div class="row mt-4">
    <div class="col-12 col-md-4 col-lg-2 text-center">
        <img
          src="assets/img-ghf.jpg"
          class="rounded-circle img-profile"
          alt="Fotografía Gerardo Hernández Flores">
    </div>
    <div class="col-12 col-md-8 col-lg-10">
        <h1 class="text-primary">Gerardo Hernández Flores</h1>
        <span>
            <i>Front-end Developer</i>
        </span>
        <p>
            Soy un profesionista con más de 15 años de experiencia en diseño y desarrollo web, comencé diseñando y maquetando interfaces web, pero en los últimos años me he sumergido en el mundo del desarrollo front end.
            He participado en diferentes proyectos web, desde su análisis, hasta su liberación en producción, también he tenido la oportunidad de liderar y gestionar equipos de trabajo.
        </p>
        <div class="row">
            <div class="col-12 col-lg-4 mt-1 mt-lg-0">
                <div class="d-grid mx-auto">
                    <a href="mailto:dgerardohernandez@gmail.com" class="btn btn-link border">
                        <i class="bi bi-envelope-at me-2"></i>dgerardohernandez@gmail.com
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-1 mt-lg-0">
                <div class="d-grid mx-auto">
                    <a href="tel:+525512975193" class="btn btn-link border">
                        <i class="bi bi-phone me-2"></i>+52 55 1297 5193
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-1 mt-lg-0">
                <div class="d-grid mx-auto">
                    <a
                      href="https://abstractmedia.com.mx/download/GHFCV2023ESP.pdf"
                      target="_blank"
                      class="btn btn-link border">
                        <i class="bi bi-cloud-download me-2"></i>Descargar CV
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
