<div class="row mt-4">
    <div class="col-12 col-md-4 col-lg-2 text-center">
        <img
          src="assets/img-ghf.jpg"
          class="rounded-circle img-profile"
          alt="Fotografía Gerardo Hernández Flores">
    </div>
    <div class="col-12 col-md-8 col-lg-10">
        <h1 class="text-primary">Gerardo Hernández Flores</h1>
        <span>
            <i>Especialista de desarrollo IT</i>
        </span>
        <p>
            Con 17 años de trayectoria en Tecnologías de la Información, he desarrollado una sólida experiencia que abarca desde el diseño web y el desarrollo front-end hasta la gestión integral de equipos de desarrollo. Actualmente, lidero un equipo, coordinando actividades y asegurando una documentación estructurada para garantizar eficiencia y calidad en los proyectos. A lo largo de mi carrera, he participado en diversas fases del ciclo de desarrollo de software, desde el análisis inicial hasta la liberación en producción, adaptándome a distintos sectores como Recursos Humanos, Editorial, Seguros (Insuretech), Financiero (Fintech) y Automotriz.
        </p>
        <div class="row">
            <div class="col-12 col-lg-4 mt-1 mt-lg-0">
                <div class="d-grid mx-auto">
                    <a href="mailto:dgerardohernandez@gmail.com" class="btn btn-link border">
                        <i class="bi bi-envelope-at me-2"></i>dgerardohernandez@gmail.com
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-1 mt-lg-0">
                <div class="d-grid mx-auto">
                    <a href="tel:+525512975193" class="btn btn-link border">
                        <i class="bi bi-phone me-2"></i>+52 55 1297 5193
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-1 mt-lg-0">
                <div class="d-grid mx-auto">
                    <a
                      href="https://abstractmedia.com.mx/download/GHFCV2023ESP.pdf"
                      target="_blank"
                      class="btn btn-link border">
                        <i class="bi bi-cloud-download me-2"></i>Descargar CV
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
