<div class="row">
    <div class="col-12 col-lg-4">
        <img
          src="../../../assets/img-ghf.jpg"
          class="rounded-3"
          width="100%"
          alt="Fotografía Gerardo Hernández Flores">
    </div>
    <div class="col-12 col-lg-8">
        <h1 class="text-primary">Gerardo Hernández Flores</h1>
        <span>
            <i>Front-end Developer</i>
        </span>
        <p>
            Soy un profesionista con más de 15 años de experiencia en diseño y desarrollo web, comencé diseñando y maquetando interfaces web, pero en los últimos años me he sumergido en el mundo del desarrollo front end.
            He participado en diferentes proyectos web, desde su análisis, hasta su liberación en producción, también he tenido la oportunidad de liderars y gestionar equipos de trabajo.
        </p>
        <div class="row">
            <div class="col-12 col-lg-5">
                <i class="bi bi-phone"></i> +52 55 1297 5193
            </div>
            <div class="col-12 col-lg-7">
                <i class="bi bi-envelope-at"></i> dgerardohernandez@gmail.com
            </div>
        </div>
    </div>
</div>
