<h2 class="mt-4 text-primary">
    <i class="bi bi-mortarboard text-secondary"></i>
    Formación
</h2>
<div class="card shadow border-0 mb-4 px-md-3">
  <table class="table table-striped table-borderless text-table mt-3">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Institución</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let college of colleges">
          <th scope="row">{{ college.title }}</th>
          <td>{{ college.institute }}</td>
          <td>
              {{ college.startDate }} - {{ college.endDate }}
          </td>
        </tr>
      </tbody>
    </table>
</div>
