<footer class="text-center py-4 bg-dark">
    <div class="container">
      <div>
          <span class="text-light me-4">
              <i class="bi bi-linkedin me-2"></i> 
              <a
                href="https://www.linkedin.com/in/dgerardo1/"
                target="_blank"
                class="link-light">LinkedIn
              </a>
          </span>
          <span class="text-light me-4">
            <i class="bi bi-github me-2"></i>
            <a
              href="https://github.com/dgerardo1"
              target="_blank"
              class="link-light">GitHub
            </a>
        </span>
      </div>
      <div class="mt-2">
        <span class="text-secondary">
          {{ year }}
        </span>
      </div>
    </div>
</footer>