
<footer class="text-center py-4 bg-dark">
    <div class="container">
      <div>
          <span class="text-light me-4">
              <i class="bi bi-linkedin me-2"></i> 
              <a
                href="https://www.linkedin.com/in/dgerardo1/"
                target="_blank"
                class="link-light">LinkedIn
              </a>
          </span>
          <span class="text-light me-4">
            <i class="bi bi-github me-2"></i>
            <a
              href="https://github.com/dgerardo1"
              target="_blank"
              class="link-light">GitHub
            </a>
        </span>
      </div>
      <div class="mt-2">
          <img
            src="https://www.gstatic.com/pagespeed/insights/ui/logo/favicon_48.png"
            class="me-2"
            alt="PageSpeed Icon"
            width="16px">
          <a
            href="https://pagespeed.web.dev/analysis/https-gehernandez-dev/tjhtuj4w6c?hl=es&form_factor=mobile"
            target="_blank"
            class="link-secondary">PageSpeed Insights
          </a>
      </div>

      <div class="mt-2">
        <span class="text-secondary">
          {{ year }}
        </span>
      </div>
    </div>
</footer>
